body{direction:rtl;}
@font-face { 
        font-family: somar;
        src: url(../../fonts/somar/somar.ttf);
        src: url(../../fonts/somar/somar-black.otf);}
body,a,p,h1,h2,h3,h4,h5,h6,small,b,span{ font-family: somar; }
.hero-form button{left: 5px;}
.footer-menu li span{ float:right; padding-left:18px;}
.social-href{padding:5px;}
.contact-page .social-href{ padding:2px;}