body{direction:rtl;}
@font-face { 
        font-family: yekan;
        src: url(../../fonts/yekan/yekan.eot);
        src: url(../../fonts/yekan/yekan.woff);}
body,a,p,h1,h2,h3,h4,h5,h6,small,b,span{ font-family: yekan; }
.hero-form button{left: 5px;}
.footer-menu li span{ float:right; padding-left:18px;}