body,a,p,h1,h2,h3,h4,h5,h6,.title-style-one h2,.team-section-one .team-member h4,.title-style-six h2{font-family: somar;}
.service-details-one .sidebar .category-list a,.theme-menu-four .navbar-nav .nav-item .nav-link , body .theme-btn-five,.theme-footer-four .footer-list ul li a,.theme-footer-four .footer-title,.font-slab,.hero-banner-two .hero-text-wrapper h1,.title-style-five h2,.title-style-eleven h2,.title-style-two h2 ,.user-data-page .form-wrapper h2,.fancy-hero-five .heading,.title-style-four h2,.title-style-four h2,.title-style-four h6,.user-data-form .input-group-meta input,.fancy-hero-four h2,.fancy-hero-three .heading{font-family: somar;}
.block-style-six .text-details .title,.font-rubik,.font-slab,.font-gordita{font-family: somar !important;}
a,p,li,.navbar-nav .nav-item .nav-link,.block-style-six .text-details .quote-wrapper blockquote{font-size:22px;}
body{direction:rtl;}
.hero-form button{left: 5px;}
.footer-menu li span{ float:right; padding-left:18px;}
.social-href{padding:5px;}
.contact-page .social-href{ padding:2px;}