/* all */
a{text-decoration: none;}
ul{list-style: none;}
.mt-40{margin-top:40px;}
.mb-40{margin-bottom: 50px;}
.bg-darkblue{ background: #040F35;}
.text-gold{ color: #aa954d;}
.relative{ position: relative;}
.py-66{padding-top:66px; padding-bottom: 60px;}
.pt-66{padding-top:66px;}
.bg-blue{background: #F3F8FF;}
.btn-blue{background: #102a43; color:#fff; border-radius: 1rem; padding: 10px 30px;}
.radius-16{border-radius: 1rem;}
.btn-blue:hover{ color: #fff;}
.whatsapp-icon{ background: rgb(131, 212, 131); width:300px; height:30px; padding:16px; position: fixed;}
/* Footer */
.footer{ background: url('../images/assets/bg-footer.jpg')center no-repeat; background-size: cover; padding:60px 30px; padding-bottom: 80px; color: #fff; }
.footer-menu{ list-style: none; padding-top:29px; padding-right:0; }
.footer-menu li{ margin-top:24px; }
.footer-menu li span{ font-size:20px; margin-top:3px; }
.footer-logo{ margin-top:100px;}
.footer-logo h4{ margin-top:45px;}
.footer-social{margin-top:38px;}
.social{float:left; margin-right:15px; margin-bottom:10px;}
.social-href{display:block;width:50px;height:50px;padding:8px;border:1px solid #fff;border-radius: 25px;text-align: center;}
.social-icon{width:30px;}
.footer-link{color: #fff;}
.footer-link:hover{color: #fff;}
/* End Footer */
/* Header Part */
.nav-link , .language{ color: #4D4D4D; }
.nav-link:hover , .language:hover { color:#153452; }
.active{ color:#102a43;}
.nav-border {border-bottom: 1px solid #DEE4E9;}
.language{ padding:0px 5px; }
.navbar-toggler{background: #102a43; color:#fff;}
.humber-button{position: absolute; left:10px; top:30px;}
.list-item span{float:right;}
.navbar{padding-bottom:0;}
/* End Header */
/* Home */
.message{position: fixed; bottom:0;left:0;}
/* Hero Part */
.hero-home{ padding: 85px 0; padding-top:250px; text-align: center; background: url('../images/assets/bg-hero.jpg')center no-repeat; background-size: cover; color:#fff;}
.hero-home p{ margin-top: 64px;}
.hero-form{ margin-top: 45px;display: inline-block;}
.hero-form div{ display: flex; align-items: center; justify-content: center;}
.hero-form input{ width: 430px; padding: 11px 26px; border-radius: 1rem; border: 1px solid #BCBCBC;}
.hero-form button{ position: absolute; padding: 8px 36px; border-radius: 1rem; border :none; background: #102a43; color: #fff;}
/* About Part */
.about-section{ padding: 85px 0;}
.about-section div div{ padding:24px 78px;}
.about-section div div p{ margin-top: 64px;}
.img-aboutsection{ float:left;}
/* Service Part*/
.service-title{ padding-top:48px; color:#fff;}
.service-title h3{ margin-bottom:32px;}
.service-part{ padding:66px 0px; color:#fff; display: flex; justify-content: center;}
.service-box{ float:right; width:313px;text-align: center;border:1px solid #fff; border-radius: 1rem; padding:40px 0 31px 0; margin-right:40px;}
.service-link{ color:#fff;text-decoration: none;}
.service-link:hover{ color:#fff;}
.service-icon{ margin-bottom:40px;}
.service-icon span{ font-size:80px;}
.service-icon img{ width:100px;}
.btn-more{ background: #fff; color:#102a43;padding:10px 4px; width:160px; border-radius: 1rem;}
.more-box{ padding-bottom: 66px;}
/* End Home */
/* Explain */
.comment{ background: #F3F8FF; border-radius: 1rem;}
.title h3{ margin-top: 20px;}
/* End Explain */
/*Contact*/
.contact-info{ box-shadow: 5px 5px 30px #102a43; border-radius: 1rem; background: #102a43;}
.contact-icon span{ font-size: 80px;}
.contact-page .social{ margin-right:3%;}
.contact-page .social-href{ width: 40px; height:40px; padding:5px; border-radius: 20px;}
.contact-page .social-icon{ width:90%;}
/*End Contact*/
/*Service*/
.service-item{ width:40%; margin-top:10px; border:1px solid #fff; padding:10px; border-radius: 1rem;}
.service-item-card{ max-width: 540px; background:transparent;}
.img-technology{ width:100px; height:100px; }
.item-technology{ float: right; margin-left:20px;}
.item-technology:nth-child(even) { padding-top:25px; }
.technology{ box-shadow: 2px 3px 40px #4d79a4;border-radius:1rem;}
/*End Service*/
/* Process */
.process-icon{ padding:20px; border-radius: 1rem; background: #102a43;}
/* End Process */
/* Brief */
.brief-input{padding: 11px 26px;border-radius: 1rem;}
/* End Brief */
/* Faq */
.nav-tabs .nav-link.active{ background: none; border: none;}
.badge-secondary { color: #fff; background-color: #6c757d;}
/* End Faq */
@media only screen and (min-width: 576px){
    .width-90{ width:80%; margin:auto;}
}
/* Mobile*/
@media only screen and (max-width: 576px){
    .hero-form input{width:350px;}
    .service-part{display:block;}
    .service-box{margin-bottom:20px;}
}


/* check*/

.team-part{padding: 123px 50px;}
.card{border:none;}
.card-title{color: #000;}
.card-text{color: #102a43;}



